#root{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-size: .24rem;
}

.page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.fade-in-right-enter {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all .3s linear;
}

.fade-in-right-enter.fade-in-right-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.fade-in-right-leave {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s linear;
}

.fade-in-right-leave.fade-in-right-leave-active {
    transform: translateX(-40%);
    opacity: 0;
}

.fade-in-left-enter {
    opacity: 0.01;
    transform: translateX(-40%);
    transition: all .3s linear;
}

.fade-in-left-enter.fade-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.fade-in-left-leave {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s linear;
}

.fade-in-left-leave.fade-in-left-leave-active {
    transform: translateX(100%);
    opacity: 0;
}

