#root{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: .24rem;
}
.app{
    height: 100%;
}

.page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

.pt90{
    padding-top: .9rem;
}

.spacing-p{
    span{
        padding-right: .15rem;
        &:after{
            content: '|';
            padding-left: .15rem;
            color: #666;
            font-size: .2rem;
            vertical-align: top;
        }
        &:last-child:after{
            display: none;
        }
    }
    .red{
        color: red;
    }
}

.btn{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-radius: .04rem;
    &.btn-empty{
        color: #b93321;
        background: #fff;
        border: .015rem solid #b93321;
    }
    &.btn-red{
        background: #b93321;
        color: #fff;
        border: .015rem solid #b93321;
    }
}

.fade-in-right-enter {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all .3s linear;
}

.fade-in-right-enter.fade-in-right-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.fade-in-right-leave {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s linear;
}

.fade-in-right-leave.fade-in-right-leave-active {
    transform: translateX(-40%);
    opacity: 0;
}

.fade-in-left-enter {
    opacity: 0.01;
    transform: translateX(-40%);
    transition: all .3s linear;
}

.fade-in-left-enter.fade-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.fade-in-left-leave {
    transform: translateX(0);
    opacity: 1;
    transition: all .3s linear;
}

.fade-in-left-leave.fade-in-left-leave-active {
    transform: translateX(100%);
    opacity: 0;
}

